/*Navbar styles*/

.navbar {
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 1);
}

.navbar-toggler-icon {
    background-image:url("../Assets/List.png");

}

.bg-light {
    --bs-light-rgb: 120, 0, 0;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.navbar-icon-desktop {
    display: none;
}

.navbar-icon-mobile {
    display: block;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        gap: 3rem;
    }
    
    .navbar-icon-desktop {
        display: block;
    }

    .navbar-icon-mobile {
        display: none;
    }
}

.navbar-nav {
    align-items: center;
    /* gap: 3rem; */
}

.nav-link {
    color: white;
    font-family: 'Inria Sans', sans-serif;
    font-size: 36px;
}

/* Footer styles */

.my-footer {
    display: flex;
    justify-content: center;
    background-color: #003049;
}

.footer-contact-column {
    display: block;
}

/* Chris Styles */

/* #container {

      width: 900px;

      margin: 10px;

      margin-left: auto;

      margin-right: auto;

      padding: 10px;

      font-family: Geneva, Arial, Helvetica, sans-serif;

      font-size: .9em;  */

      /* img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
} */
.backgroundBlue {
    position: absolute;
    width: 1856px;
    height: 617px;
    left: 32px;
    top: 195px;
}
.textColor {
    color: white;
    margin-top: 50px;
    font-weight: 300;
    font-size: 66px;
    font-family: 'Inria Sans', sans-serif;
}
/* .container {
    width: 7000px;
} */
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Drew Styles */





/* Caroline Styles */

.pcard{
    display: flex;
    background-color: #003049;
    border-width: 0;
    border-radius: 10px;
    flex-wrap: wrap;
}

.pcard-body{
    text-align: center;
    align-items: center;
}

.price-cards{
    display: flex;
    justify-content:center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price-card-text{
    color: white;
    display: flex;
    font-family: 'Inria Sans', sans-serif;
    font-size: 36px;
}

.pcard-body3{
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.pimg3{
    height: 230.363px;
}

@media (max-width: 992px) {
   .pcards{
    flex-direction: column;
   }

   .price-cards{
    width: 100%;
   }
    
}

/* gallery */
.gal-box{
    display: flex;
    justify-content: center;
    background-color: #780000;
    height: 90px;
}

.gal-header{
    color: white;
    font-family: 'Inria Sans', sans-serif;
    font-size: 48px;
    margin: 0;
    display: flex;
    align-items: center;
}

.gal{
    --bs-gutter-x: 0rem;
}

.carousel-inner > .carousel-item > img {
    width:800px;
    height: 716px;
    padding: 50px;
}

/* reviews */

.reviews{
    --bs-gutter-x: 0rem;
}

.rev-box{
    display: flex;
    justify-content: center;
    background-color: #780000;
    height: 90px;
}

.rev-header{
    color: white;
    font-family: 'Inria Sans', sans-serif;
    font-size: 48px;
    margin: 0;
    display: flex;
    align-items: center;
}
